footer{margin:5em
0px}.navbar{border-width:0px 0px 1px;border-radius:0;margin-bottom:0}.page-header{margin-top:20px}a.monstra-blog-tag{margin-right:5px;margin-bottom:5px;display:inline-block}.monstra-blog-tag
span{padding:7px
14px;font-size:12px;font-weight:normal;display:inline-block}.monstrapro{display:inline-block;margin-right:10px}